<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片演示</title>
</head>
<body>
    <h1>图片处理</h1>
    <h1>处理算法：{{method}}</h1>

    <table><tr>
        <td><img src="{{url_src}}"  alt="你的图片被外星人劫持了～～"/></td>
        <td> <img src="{{url_dst}}"  alt="你的图片被外星人劫持了～～"/></td>
    </tr></table>
    <br>
    <span>{{info_result}}</span>
    <br>
    <br>
     <a href="/">首页</a>
     <a href="/light">灯光控制</a>
     <a href="/env">环境显示</a> 
     <a href="/images">图像处理</a>
     <a href="/music">音乐演奏</a>
     <a href="/video">视频处理</a>
</body>
</html>