<!DOCTYPE html>
<html>
  <head>  
    <title>灯光系统</title>
  </head>
  <body>
    <div class="header" id="demo">
      <div class="title"><h2>灯光系统</h2></div>
      <div class="t_b_box">
      
      <form action="/light" method="post">
        <input type="submit" name="on" value="开灯">
        <br>
        <input type="submit" name="off" value="关灯">
      </form>
    <br>
     <a href="/">首页</a>
     <a href="/light">灯光控制</a>
     <a href="/env">环境显示</a> 
     <a href="/images">图像处理</a>
     <a href="/music">音乐演奏</a>
     <a href="/video">视频处理</a>
    
  </body>
</html>